<div class='navigation'>
<ul>
  <li><a href='#/links' class='index'>All Links</a></li>
  <li><a href='#/shorten' class='create'>Shorten</a></li>
  <li><a href='#/signin' class='logout'>Logout</a></li>
</ul>
</div>

<div id='container' ng-controller='LinksController'>
  <input type="text" ng-model="search" placeholder="Search..."/>
  <div ng-repeat="link in data.links | filter: search | orderBy: 'visits': true" class='link'>
    <div class='info'>
      <img src='../../assets/redirect_icon.png'/>
      <div class='visits'><span class='count'>{{link.visits}}</span>Visits</div>
      <div class='title'>{{link.title}}</div>
      <div class='original'>{{link.url}}</div>
      <a href='/api/links/{{link.code}}'>{{link.base_url}}/{{link.code}}</a>
    </div>
  </div>
</div>